<!doctype html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} VitelloWeb {% endblock %}</title>
    <style>
        .float-left {
        float: left;
        margin-right: 15px; /* Adds space between the image and the text */
        margin-bottom: 10px; /* Adds space below the image */
        }

    </style>
</head>
<body>
{% block content %}

    <h1>VitelloWeb</h1>
    <img src = "../static/Vitellos.png" alt = "Vitello Family" class = "float-left" width = "100">
    <p>Pictured are the two youngest sons of the Vitello family. <br>
        Fun fact: the rightmost son is Christopher Vitello, <br> who is the co-creator of this website.</p>
{% endblock %}
</body>
</html>
