<!doctype html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} VitelloWeb {% endblock %}</title>
    <style>
        .float-left {
        float: left;
        margin-right: 15px; /* Adds space between the image and the text */
        margin-bottom: 10px; /* Adds space below the image */
        }

    </style>
</head>
<body>
{% block content %}

    <h1>VitelloWeb</h1>

{% endblock %}
</body>
</html>
