<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VitelloWeb</title>
</head>
<body>
    <h1>VitelloWeb</h1>
        <p>Welcome to the official Vitello store! <br>
        Feel free to place your orders!</p>
    <h2>Next Steps</h2>
        <p>For your next step, simply head on over to the <br>
        purchase tag and custom-make your order. <br>
        These orders will be sent over to the Vitellos, <br>
        and you can pay them in <strong><em>cash</em></strong>.</p>
</body>
</html>