<!doctype html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} Login | VitelloWeb {% endblock %} </title>
</head>
<body>
{% block content %}
    <h1>Login</h1>
    <form method = "POST">
        <!-- Displays username -->
        <label for = "username">Username</label><br>
        <!-- Makes it a text input field. The value is saved as "username"
        so you can retrieve it in request.form["username"] -->
        <input type = "text" name = "username" required><br><br>

        <label for = "password">Password</label><br>
        <!-- Type password makes it so that it is in dots
         and the password is saved as value "password" for easy retrieval-->
        <input type = "password" name = "password" required><br><br>

        <!-- When clicked, submit form -->
        <button type = "submit">Log In</button>

    </form>

    <!-- Jinja, if an error, print value error -->
    {% if error %}
    <p style = "color: red;">{{error}}</p>
    {% endif %}

{% endblock %}
</body>
</html>